* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.toggle{
  margin-left: 1050px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.card {
  cursor: pointer;
  background-color:transparent;
  height: 300px;
  perspective: 1000px;
  border-radius: 5px;
}

.card h1 {
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 350px;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid white;
 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transition-duration: 1500ms;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  transition-duration: 1500ms;
  
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front h1{
  padding: 0;
  margin-top: -50px;
  font-weight: 100;
}


.card-back {
  background-image:linear-gradient(#333, black);
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
  font-weight: 200;
  border: 3px solid white;
  height: 350px;
  text-align: center;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}